<table>
<% for(var i=0; i<beers.length; i++) {%>
   <tr>
     <td><%= beers[i].store %></td>
     <td><%= beers[i].brewer %></td>
     <td><%= beers[i].beer %></td>
     <td><%= beers[i].qty %></td>
     <td><%= beers[i].price %></td>
   </tr>
<% } %>
</table>